@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color:darkgray;
  font-family: "Lato", sans-serif;
  height: 100vh;
  overflow-x: hidden;
}

.container {
  background-color: #fff;
  min-height: 100vh;
  padding: 50px;
  width: 100vw;
  transform-origin: top left;
  transition: transform 0.5s linear;
}

.container.show-nav {
  transform: rotate(-20deg);
}

.circle-container {
  left: -100px;
  position: fixed;
  top: -100px;
}

.circle {
  background-color: #ff7979;
  border-radius: 50%;
  height: 200px;
  position: relative;
  width: 200px;
  transition: transform 0.5s linear;
}

.circle button {
  background: none;
  border: 0px;
  color: #ffffff;
  font-size: 26px;
  height: 100px;
  left: 50%;
  position: absolute;
  top: 50%;
}

.circle button:hover {
  cursor: pointer;
}

button.open {
  left: 60%;
}

button.close {
  top: 60%;
  transform: rotate(90deg);
  transform-origin: top left;
}

.dog-image {
  width: 100%;
}

.content {
  margin: 50px auto;
  /* max-width: 1000px; */
}

.container.show-nav + nav li {
  transform: translateX(0);
}

.container.show-nav .circle {
  transform: rotate(-70deg);
}

nav {
  left: 20px;
  position: absolute;
  bottom: 0px;
  z-index: 100;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  margin: 40px 0;
  transform:translateX(-150%);
  transition: 0.4s linear;
}

nav ul li i {
  margin-right: 10px;
}

nav ul li + li {
  margin-left: 20px;
  transform:translateX(-200%)
}

nav ul li + li + li {
  margin-left: 40px;
  transform:translateX(-250%)
}